/*
! GENERAL
*/

* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #545454;
}

.current-link {
    font-weight: bold;
}

svg {
    height: fit-content;
    margin: auto auto;
}

a:link, a:visited {
    text-decoration: none;
    color: #0D0D0D;
}

p {
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

div.container {
    max-width: 100%;
    margin: 0 auto;
}

article.post {
    border-bottom: 4px dashed #ecf0f1;
}

article.post:last-of-type {
    border-bottom: none;
}

/*
! END GENERAL
*/

/*
! SUB-TITLE
*/

#sub-title {
    font-size: 40px;
}

@media (max-width: 640px) {
    #sub-title {
        font-size: 30px;
    }
}

/*
! END SUB-TITLE
*/

/*
! HEADER
*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

@media (max-width: 450px) {
    header {
        top: 0px;
    }
}

.flex-header-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    z-index: 100;
    position: relative;
}

.flex-header-nav a {
    margin-right: 40px;
}

@media (max-width: 600px) {
    .flex-header-nav a {
        margin-right: 20px;
    }
}

.flex-header-nav button {
    margin-right: 20px;
}

@media (min-width: 450px) {
    .flex-header-nav a {
        display: block;
    }
    .flex-header-nav button {
        display: none;
    }
}

@media (max-width: 450px) {
    .flex-header-nav a {
        display: none;
    }
    .flex-header-nav button {
        display: block;
    }
}

.flex-header-button button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    font-weight: 800;
}

.flex-header-button button:hover {
    background-color: black;
    color: white;
}

.flex-header-burger {
    display: none;
    justify-content: flex-end;
    background-color: white;
}

.flex-header-nav-burger a {
    padding: 15px 20px 15px 10px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.flex-header-nav-burger a:hover {
    background-color: black;
    color: white;
}

/*
! END HEADER
*/

/*
! FOOTER
*/

.site-footer {
    background: #366C66;
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 64px;
    padding-left: 64px;
}

.around-flex {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    height: fit-content;
}

.around-flex-navbar {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    height: fit-content;
}

.around-flex-logo {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

@media (max-width: 768px) {
    .around-flex {
        flex-direction: column;
    }
    .around-flex a {
        margin: auto;
        width: fit-content; 
    }
    .around-flex-navbar {
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    .around-flex-navbar p {
        margin: auto;
        height: fit-content;
    }
    .center-flex {
        gap: 5px;
    }
}

.center-flex {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    gap: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

.center-flex p {
    padding-top: 10px;
}

.center-flex a {
    text-decoration: underline;
    color: white;
}

.content-footer {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.around-flex a {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

@media (max-width: 765px) {
    #wing {
        display: none;
    }
}

/*
! END FOOTER
*/

/*
! FLOATING
*/

.floating-post {
    position: fixed;
    /* width: fit-content;
    height: fit-content; */
    width: 300px;
    height: fit-content;
    min-height: 300px;
    background-color: white;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    border-radius: 12px;

    z-index: 9999;

    overflow: hidden;

    display: none;
}

.floating-post-text {
    padding: 70px 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.floating-post-text h2 {
    color: black;
    font-size: 24px;
    font-weight: 800;
}

.floating-post-text p {
    color: grey;
    font-size: 14px;
    font-weight: 800;
}

.floating-post-close {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #366C66;
    width: 40px;
    height: 40px;
    font-weight: 700;
    border-radius: 99999px;
}

.floating-post-close:hover {
    /* background-color: red; */
    border-color: red;
    color: black;
    /* border-width: 10px; */
    font-weight: 900;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/*
! END FLOATING
*/