* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #545454;
}

.current-link {
    font-weight: bold;
}

svg {
    height: fit-content;
    margin: auto auto;
}

a:link, a:visited {
    text-decoration: none;
    color: #0D0D0D;
}

p {
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

div.container {
    max-width: 100%;
    margin: 0 auto;
}

article.post {
    border-bottom: 4px dashed #ecf0f1;
}

article.post:last-of-type {
    border-bottom: none;
}

/* SUB-TITLE */

#sub-title {
    font-size: 40px;
}

@media (max-width: 640px) {
    #sub-title {
        font-size: 30px;
    }
}

/* HEADER */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    z-index: 100;
}

@media (max-width: 450px) {
    header {
        top: 0;
    }
}

.flex-header-nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
    z-index: 100;
    position: relative;
}

.flex-header-nav a {
    margin-right: 40px;
}

.flex-header-nav button {
    margin-right: 20px;
}

@media (min-width: 450px) {
    .flex-header-nav a {
        display: block;
    }
    .flex-header-nav button {
        display: none;
    }
}

@media (max-width: 450px) {
    .flex-header-nav a {
        display: none;
    }
    .flex-header-nav button {
        display: block;
    }
}

.flex-header-button button {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    border: 0;
    font-size: 20px;
    font-weight: 800;
}

.flex-header-button button:hover {
    background-color: black;
    color: white;
}

.flex-header-burger {
    display: none;
    justify-content: flex-end;
    background-color: white;
}

.flex-header-nav-burger a {
    padding: 15px 20px 15px 10px;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.flex-header-nav-burger a:hover {
    background-color: black;
    color: white;
}


/* FOOTER */
.site-footer {
    background: #366C66;
    margin-top: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 64px;
    padding-left: 64px;
}

.around-flex {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    height: fit-content;
}

.around-flex-navbar {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    height: fit-content;
}

.around-flex-logo {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

@media (max-width: 768px) {
    .around-flex {
        flex-direction: column;
    }
    .around-flex a {
        margin: auto;
        width: fit-content; 
    }
    .around-flex-navbar {
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
    .around-flex-navbar p {
        margin: auto;
        height: fit-content;
    }
    .center-flex {
        gap: 5px;
    }
}

.center-flex {
    padding-top: 32px;
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    gap: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

.center-flex p {
    padding-top: 10px;
}

.center-flex a {
    text-decoration: underline;
    color: white;
}

.content-footer {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.around-flex a {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

@media (max-width: 680px) {
    #left-wing {
        display: none;
    }
}