body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #545454;
}

.current-link {
    font-weight: bold;
}

a:link, a:visited {
    text-decoration: none;
    color: #0D0D0D;
}

p {
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

div.container {
    max-width: 100%;
    margin: 0 auto;
}

article.post {
    border-bottom: 4px dashed #ecf0f1;
}

article.post:last-of-type {
    border-bottom: none;
}

.flex-header {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-left: 120px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.flex-header a {
    margin-top: 10px;
    margin-left: 40px;
}
.site-footer {
    background: #366C66;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 64px;
    padding-left: 64px;
}

.around-flex {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}
.around-flex-logo {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}

.center-flex {
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: white;
    gap: 24px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

.center-flex a {
    text-decoration: underline;
    color: white;
}

.content-footer {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

.around-flex a {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

/* HERO */
.button-hero {
    padding:14px 28px;
    background-color: #366C66;
    color: white;
    border-radius: 8px;
    border-width: 0px;
    margin-top: 60px;
}

.title-hero {
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.desc-hero {
    max-width: 630px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.text-container {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #366C66;
    padding-top: 80px;
}

.hero {
    background-image: url("assets/home/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 713px;
    margin-top: 50px;
}

.hero > img {
    position: absolute;
}